<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="practice.cxh.zhihuzhuanlan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ZhihuZhuanlanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="吱呼专栏"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main_page.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".column_page.ArticleListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".column_page.ArticleDownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".article_page.ArticleContentActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>